set_io  i_clk           94
set_io  i_rst           31

set_io  o_sda           122
set_io  o_scl           125

set_io  o_lock          4
set_io  o_led1          3
set_io  o_led2          2
set_io  o_led3          1
set_io  o_data_bits[7]  107
set_io  o_data_bits[6]  105
set_io  o_data_bits[5]  99
set_io  o_data_bits[4]  97
set_io  o_data_bits[3]  95
set_io  o_data_bits[2]  84
set_io  o_data_bits[1]  82
set_io  o_data_bits[0]  80

set_io  o_data_valid    106
set_io  i_start         104